
<div class="section-padding">
    <div class="logo">
        <div class="container flex-center">
            <a href="#/home"> <img src="img/ic_launcher.png" width="100" height="100"></a>
        </div>
        <div class="container flex-center" style="margin-top: 20px;margin-bottom: 20px;">
            <h6 style="color:rgb(44, 62, 80); position: absolute;">#EazyBottlePartnership</h6>
        </div>
    </div>
    <div class="container" style="text-align:center; padding-top: 40px">
        <h1 class="text-center" style="color:rgb(44, 62, 80)!important; letter-spacing: 11px;">WELCOME TO EAZYBOTTLE</h1>
        <div class="row text-center" style="padding-top: 40px">
            <div class="col-sm-4">
                <img src="img/badge1.png" width="100" height="100">
                <h4 style="padding-top: 10px">Deliveries</h4>
            </div>
            <div class="col-sm-4">
                <img src="img/badge2.png" width="100" height="100">
                <h4 style="padding-top: 10px">Orders</h4>
            </div>
            <div class="col-sm-4">
                <img src="img/badge3.png" width="100" height="100">
                <h4 style="padding-top: 10px">Customers</h4>
            </div>
        </div>
    </div>
</div>
