<div class="view overlay hm-black-strong" style="padding-top: 80px; margin-bottom:80px;">
    <div class="logo">
        <div class="container flex-center">
            <a href="#/home"> <img src="img/ic_launcher.png" width="100" height="100"></a>
        </div>
        <div class="container flex-center" style="margin-top: 20px;margin-bottom: 20px;">
            <h6 style="color:black; position: absolute;">#JoinEazyBottleTeam</h6>
        </div>
    </div>
    <div class="container">
        <section class="section-tabs2" style="border-bottom:1px solid black">
            <div class="page-header">
                <h2>Sales Executive</h2>
            </div>

            <div class="well text-justify" style="padding-top: 20px;">
                <div class="row">
                    <div class="card col-sm-6" style="background:transparent!important">
                        <h5 style="padding-top: 10px;">Job Description</h5>
                        <ul>
                            <li> Maintaining and developing quality relationships with existing customers. </li>
                            <li> Visiting potential customers for new signups. </li>
                            <li> Gathering market and customer information. </li>
                            <li> Educating customers about the variations in price, delivery and specifications with EazyBottle service
                                </li>
                            <li> Recording sales and order information and sending copies to the sales head. </li>
                            <li> Reviewing your own sales performance, against targets as you gain experience. </li>
                        </ul>
                    </div>
                    <div class="card col-sm-6" style="background:transparent!important">
                        <h5 style="padding-top: 10px;">Skill Set</h5>
                        <ul>
                            <li>The ability and desire to sell.</li>
                            <li>Excellent communication skills.</li>
                            <li>Strong commercial awareness.</li>
                            <li>A confident and determined approach.</li>
                            <li>Resilience and the ability to cope with rejection.</li>
                            <li>A high degree of self-motivation and drive.</li>
                            <li>The ability to work both independently and as part of a team.</li>
                            <li>The capacity to flourish in a competitive environment.</li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center" style="padding-top: 20px;">
                    <div class="col-sm-6">
                        <h5>Job Location</h5>
                        <p>Bengaluru</p>
                    </div>
                    <div class="col-sm-6">
                            <h5>Experience</h5>
                            <p>Under Graduate/Fresher/0-1 year Experience</p>
                        </div>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-sm-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text" style="left:0!important;top:10px!important; font-size:1.5rem!important"></i>
                        <input type="text" id="form3" class="form-control">
                        <label for="form3">Your name*</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text" style="left:0!important;top:10px!important; font-size:1.5rem!important"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Your email*</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form">
                        <i class="fa fa fa-phone-square prefix grey-text" style="left:0!important;top:10px!important; font-size:1.5rem!important"></i>
                        <input type="text" id="form32" class="form-control">
                        <label for="form32">Phone number*</label>
                    </div>
                </div>
                <div class="col-sm-3" style="text-align:right"><button class="btn btn-unique">Apply <i class="fa fa-paper-plane-o ml-1"></i></button></div>
            </div>
            
        </section>
    </div>
</div>