<div class="view overlay hm-black-strong" style="padding-top: 80px;">
     <div class="logo"  >
            <div class="container flex-center" >
           <a href="#/home"> <img src="img/ic_launcher.png" width="100" height="100"></a>
            </div>
            <div class="container flex-center" style="margin-top: 20px;margin-bottom: 20px;">
            <h6 style="color:black; position: absolute;">#DrinkWaterAtEazyBottle</h6>
            </div>
     </div>
   
        
    <div class="container">
        <section class="section-tabs2">
            <div class="page-header">
                <h2>Privacy Policy</h2>
            </div>

            <div class="well text-justify">Eazybottle.com understands how your information is used and shared. We value the trust you place in us. That's
                why we insist upon the highest standards for secure transactions and customer information privacy. Please
                read the following statement to learn about our information gathering practices.<br>
                <br> Our privacy policy is subject to change at any time without notice. To make sure you are aware of any
                changes, please review this policy periodically.<br>
                <br> By visiting this App you agree to be bound by the terms and conditions of this Privacy Policy. If you
                do not agree please do not use or access our App.<br>
                <br> By mere use of the App, you expressly consent to our use and disclosure of your personal information
                in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms
                of Use.<br> &nbsp;
                <ul>
                    <li><b>What Personal Information about Customers does Eazybottle.com Gather?</b><br> When you use our App,
                        we collect and store your personal information which is provided by you from time to time. Our primary
                        goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows
                        us to provide services and features that most likely meet your needs, and to customize our App to
                        make your experience safer and easier. More importantly, while doing so we collect personal information
                        from you that we consider necessary for achieving this purpose.<br> In general, you can browse the
                        App without telling us who you are or revealing any personal information about yourself. Once you
                        give us your personal information, you are not anonymous to us. Where possible, we indicate which
                        fields are required and which fields are optional. You always have the option to not provide information
                        by choosing not to use a particular service or feature on the App.<br> If you choose to buy on the
                        App, we collect information about your buying behavior.<br> If you transact with us, we collect some
                        additional information, such as a billing address, a credit / debit card number and a credit / debit
                        card expiration date and/ or other payment instrument details.<br> We collect personally identifiable
                        information (email address, name, phone number, credit card / debit card / other payment instrument
                        details, etc.) from you when you set up a free account with us and use certain activities (such as
                        placing an order) do require registration. We do use your contact information to send you offers
                        based on your previous orders and your interests.<br> &nbsp;
                    </li>
                    <li><b>Use of Your Information</b><br> We use personal information to provide the services you request. To
                        the extent we use your personal information to market to you, we will provide you the ability to
                        opt-out of such uses. We use your personal information to resolve disputes; troubleshoot problems;
                        help promote a safe service; collect money; measure consumer interest in our products and services,
                        inform you about online and offline offers, products, services, and updates; customize your experience;
                        detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions;
                        and as otherwise described to you at the time of collection.<br> In our efforts to continually improve
                        our product and service offerings, we collect and analyze demographic and profile data about our
                        users' activity on our App.<br> We identify and use your IP address to help diagnose problems with
                        our server, and to administer our App. Your IP address is also used to help identify you and to gather
                        broad demographic information.<br> &nbsp;
                    </li>
                    <li><b>Sharing of personal information</b><br> We will not share any of your information to third parties.
                        We may disclose personal information if required to do so by law or in the good faith belief that
                        such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process.
                        We may disclose personal information to law enforcement offices, third party rights owners, or others
                        in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy
                        Policy;<br> &nbsp;
                    </li>
                    <li><b>Security practices</b><br> Our App has stringent security measures in place to protect the loss, misuse,
                        and alteration of the information under our control. Whenever you change or access your account information,
                        we offer the use of a secure server. Once your information is in our possession we adhere to strict
                        security guidelines, protecting it against unauthorized access.<br> We work to protect the security
                        of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts
                        information you input in addition to maintaining security of your information as per the International
                        Standard IS/ISO/IEC 27001 on "Information Technology Security Techniques Information Security Management
                        System-Requirements".<br> We reveal only the last four digits of your credit card numbers when confirming
                        an order. Of course, we transmit the entire credit card number to the appropriate credit card company
                        during order processing.<br> &nbsp;
                    </li>
                    <li><b>Choice/Opt-Out</b><br> We provide all users with the opportunity to opt-out of receiving non-essential
                        (promotional, marketing-related) communications from us on behalf of our partners, and from us in
                        general, after setting up an account.<br> &nbsp;
                    </li>
                    <li><b>Your Consent</b><br> By using the App and/ or by providing your information, you consent to the collection
                        and use of the information you disclose on the App in accordance with this Privacy Policy.<br> If
                        we decide to change our privacy policy, we will post those changes on this page so that you are always
                        aware of what information we collect, how we use it, and under what circumstances we disclose it.<br>                        &nbsp;
                    </li>
                    <li><b>Information You Can Access</b><br> Information you can access easily at eazybottle.com include: up-to-date
                        information regarding recent orders; personal information (including name, e-mail, password, and
                        address book); payment settings (including credit-card/Debit card information) and e-mail notification
                        settings (including Alerts, Available to Order notifications and Delivers).<br> &nbsp;
                    </li>
                    <li><b>Grievance Officer</b><br> In accordance with Information Technology Act 2000 and rules made there
                        under, the name and contact details of the Grievance Officer are provided below:<br> &nbsp;
                        <p class="text-center"><b>Vishwa Kolkar</b></p>
                        <b> </b>

                        <p class="text-center"><b><a href="mailto:vishwakolkar@eazybottle.com">vishwakolkar@eazybottle.com</a></b></p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>