<div class="view overlay hm-black-strong" style="padding-top: 80px; margin-bottom: 80px;">
    <div class="logo"  >
            <div class="container flex-center" >
           <a href="#/home"> <img src="img/ic_launcher.png" width="100" height="100"></a>
            </div>
            <div class="container flex-center" style="margin-top: 20px;margin-bottom: 20px;">
            <h6 style="color:black; position: absolute;">#DrinkWaterAtEazyBottle</h6>
            </div>
     </div>
    <div class="container" style="margin-bottom: 20px;">
        <section class="section-tabs2">
            <div class="page-header">
                <h2>Terms of Use</h2>
            </div>

            <div class="well text-justify">The domain name www.eazybottle.com (hereinafter referred to as "app") is owned by Eazybottle Private Limited
                a company incorporated under the Companies Act, 2013 with its registered office at
                <p class="text-center"><b>#8-6-77/10, Ward No-22,<br>
Budagumpa Road Post : Karatagi,<br>
Tq : Gangavathi Koppal KA 583229 IN</b></p>
                Your use of the App and services and tools are governed by the following terms and conditions ("Terms of Use") as applicable
                to the App including the applicable policies which are incorporated herein by way of reference.<br>
                <br> If You transact on the App, You shall be subject to the policies that are applicable to the App for
                such transaction. By mere use of the App, You shall be contracting with Eazybottle Private Limited and these
                terms and conditions including the policies constitute your binding obligations with Eazybottle.<br>
                <br> For the purpose of these Terms of Use, wherever the context so requires <b>"You" or "User"</b> shall
                mean Any natural or legal person who has agreed to become a buyer on the App by providing Registration Data
                while registering on the App as Registered User using the mobile systems. Eazybottle allows the User to surf
                the App or make purchases only after registering on the App. The term <b>"We", "Us", "Our" </b> shall mean
                Eazybottle Private Limited. Your access to, use of, and participation in the App is subject to the Terms
                of Use and all applicable Eazybottle regulations, guidelines and additional policies that Eazybottle may
                set forth from time to time, including without limitation, a copyright policy and any other restrictions
                or limitations that Eazybottle publishes on the Website (the "Additional Policies").<br>
                <br> You hereby agree to comply with the Additional Policies and your obligations there under at all times.
                You hereby acknowledge and agree that if you fail to adhere to any of the terms and conditions of this Agreement
                or documents referenced herein, including the Account Policies, membership eligibility criteria or Additional
                Policies, Eazybottle in its sole discretion, may terminate your Account at any time without prior notice
                to you as well as initiate appropriate legal proceedings.<br><br>

                <h4>Membership and Accessibility</h4>
                Use of the App is available only to individuals who are at least 18 years old and can form legally binding contracts under
                applicable law. You represent, acknowledge and agree that you are at least 18 years of age, and that

                <ul>
                    <li>All registration information that you submit is truthful and accurate</li>
                    <li>You will maintain the accuracy of such information, and</li>
                    <li>Your use of the App and Services offered through this App do not violate any applicable law or regulation.
                        Your Account (defined below) may be terminated without warning if we at our discretion, believe that
                        you are under the age of 18 or that you are not complying with any applicable laws, rules or regulations.</li>
                </ul>
                You need to register with Eazybottle to access and participate in certain features of the App, you will need to create a
                password-protected account ("Account"). To create an account, you must submit your name, email address and
                mobile number through the account registration page on the App and create a password. You are solely responsible
                for safeguarding your Eazybottle password and shall keep your Passwords secure at all times. You shall be
                solely responsible for all activity that occurs on your Account and you shall notify Eazybottle immediately
                of any breach of security or any unauthorized use of your Account. Similarly, you shall never use another's
                Account without Eazybottle’s permission. You agree that you will not misrepresent yourself or represent yourself
                as another user of the App and/or the Services offered through the App. You hereby expressly acknowledge
                and agree that you yourself and not EAZYBOTTLE will be liable for your losses, damages etc. (whether direct
                or indirect) caused by an unauthorized use of your Account. Notwithstanding the foregoing, you may be liable
                for the losses of EAZYBOTTLE or others due to such unauthorized use. An Account holder is sometimes referred
                to herein as a <b>"Registered User."</b><br>
                <br>
                <b>You acknowledge and agree that you shall comply with the following policies (the "Account Policies"):</b>

                <ul>
                    <li>You will not copy or distribute any part of the App in any medium without Eazybottle’s prior written
                        authorization.</li>
                    <li>You will not alter or modify any part of the App other than as may be reasonably necessary to use the
                        App for its intended purpose.</li>
                    <li>You will provide true, accurate, current and complete information when creating your Account and you
                        shall maintain and update such information during the term of this Agreement so that it will remain
                        accurate, true, current and complete.</li>
                    <li>You shall not use any automated system, including but not limited to, "robots," "spiders," "offline readers,"
                        "scrapers," etc., to access the App for any purpose without Eazybottle‘s prior written approval.</li>
                    <li>You shall not in any manual or automated manner collect Service Professionals or Service Users information,
                        including but not limited to, names, addresses, phone numbers, or email addresses, copying copyrighted
                        text, or otherwise misuse or misappropriate App information or content, including but not limited
                        to, use on a "mirrored", competitive, or third party site.</li>
                    <li>You shall not in any way that transmits more request messages to the Eazybottle servers, or any server
                        of a Eazybottle subsidiary or affiliate, in a given period of time than a human can reasonably produce
                        in the same period by using a conventional App; provided, however, that the operators of public search
                        engines may use spiders or robots to copy materials from the site for the sole purpose of creating
                        publicly available searchable indices of the materials, but not caches or archives of such material.
                        Eazybottle reserves the right to revoke these exceptions either generally or in specific cases.</li>
                    <li>You shall not recruit, solicit, or contact in any form Service Professionals or Service Users for employment
                        or contracting for a business not affiliated with Eazybottle without express written permission from
                        Eazybottle.</li>
                    <li>You shall not take any action that
                        <ul>
                            <li>unreasonably encumbers or, in Eazybottle’s sole discretion, may unreasonably encumber the App's
                                infrastructure;</li>
                            <li>interferes or attempts to interfere with the proper working of the App or any third-party participation
                                in the App; or</li>
                            <li>bypasses Eazybottle’s measures that are used to prevent or restrict access to the App.</li>
                        </ul>
                    </li>
                    <li>You agree not to collect or harvest any personally identifiable data, including without limitation, names
                        or other Account information, from the App, nor to use the communication systems provided by the
                        App for any commercial solicitation purposes.</li>
                </ul>

                <h4>Usage</h4>
                You should be aware that there are certain things that Eazybottle will not take responsibility for. Certain functions of
                the app, such as the ability to order a product, checking the status of an order will all require the app
                to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider,
                but Eazybottle cannot take responsibility for the app not working at full functionality if you don’t have
                access to Wi-Fi, and you don’t have any of your data allowance left. Also Eazybottle is dedicated for its
                services to the consumer not for the quality of the product which are from third party. Also for the same
                Eazybottle can't be held responsible.<br>
                <br> If you’re using the app outside of an area with Wi-Fi, you should remember that your terms of agreement
                with your mobile network provider will still apply. As a result, you may be charged by your mobile provider
                for the cost of data for the duration of the connection while accessing the app, or other third party charges.
                In using the app, you’re accepting responsibility for any such charges, including roaming data charges if
                you use the app outside of your home territory (i.e. region or country) without turning off data roaming.
                If you are not the bill payer for the device on which you’re using the app, please be aware that we assume
                that you have received permission from the bill payer for using the app.<br>
                
                <br>EazyBottle will do everything to provide the best water service for it's customers, but the best service can be maintained only when you co-operate with the EazyBottle staff. With that we mean the Bottle you purchased for refundable deposit owe your responsibility to return the same water can for every delivery without any hassle. If you fail to do so EazyBottle has all the rights to terminate the service without the refund.<br>

                <br> Along the same lines, Eazybottle cannot always take responsibility for the way you use the app. While
                our staff will - of course - take all reasonable care to make sure nothing happens to your device, we don’t
                accept liability for damage to it, unless it’s caused by any negligence or willful misconduct by our staff.
                At some point we may wish to update the app. The app is currently available on Android &amp; iOS - the requirements
                for Android/iOS system (and for any additional systems we decide to extend the availability of the app to)
                may change, and you’ll need to download the updates if you want to keep using the app. Eazybottle does not
                promise that it will always update the app so that it is relevant to you and/or works with the Android/iOS
                version that you have installed on your device. However, you promise to always accept updates to the application
                when offered to you, We may also wish to stop providing the app, and may terminate use of it at any time
                without giving notice of termination to you. Unless we tell you otherwise, upon any termination,
                <ul>
                    <li>the rights and licenses granted to you in these terms will end;</li>
                    <li>you must stop using the app, and (if needed) delete it from your device.</li>
                </ul>
            </div>
        </section>
    </div>
</div>